*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --blue: #1e90ff;
    --white: #ffffff;
    --primary:#FDF7F1;
    --green: #177171;
    --mustard: #177171;
    --primary-font: 'Montserrat', sans-serif;
    --secondary-font: 'Poppins', sans-serif, 'arial';
}
a{
    text-decoration: none;
}
#navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 6vw;
    border-bottom: 1px solid grey;
}

.logo{
    flex: 0.8;
}
.nav-mid{
    flex: 3;
}
.nav-rgt{
    flex: 0.8;
}

.logo img{
    margin-left: 2vw;
    height: 5.9vw;
}
.nav-mid ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1vw;
    margin-bottom: 1vw;
}
.nav-mid ul li {
    padding: 1.3vw;
}
.nav-mid ul li a{
    color: var(--green);
    font-size: 15px;
    font-weight: 500;
    font-family: var(--primary-font);
}

.nav-rgt ul {
    margin-left: 5vw;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
 }
.nav-rgt ul li {
    background-color: var(--green);
    padding: 0.7vw 1vw;
    width: 8vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.nav-rgt ul li a{
    color: var(--primary);
    font-size: 15px;
    font-family: var(--primary-font);
}

.main-ctn{
    height: 100%;
    background-image: url("./images/bg2.png");
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-ctn-top{
    @background-color: red;
    margin-top: -4.5vw;
}
.main-ctn h4{
    text-align: center;
    font-style: none;
    font-size: 4vw;
    font-weight: 500 !important;
    font-style: italic;
    letter-spacing: 2px;
}
.main-ctn-btm{
    margin-top: 8.5vw;
    #background-color: #1e90ff;
}
.main-ctn h6{
    font-size: 1vw;
    text-align: center;
    width: 35vw;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 15px;
}
.about{
    display: flex;
    flex-direction: column;
}
.sub-section h4{
    color: var(--green);
    margin-left: 1vw;
    font-family: var(--primary-font);
    font-size: 18px;
    font-weight: 600;
    padding: 1.8vw 1vw;
}
.about-top{
    flex: 1;
    display: flex;
    flex-direction: row;
}
.about-top-rgt{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /background-color: red;
}
.about-top-rgt img{
    margin-left: 2vw;
    width: 50vw;
    height: 23vw;
}
.about-top-lft {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1vw;
    /background-color: rebeccapurple;
}
.about-top-lft h6{
    margin-top: 8vw;
    padding: 2vw;
    font-size: 15px;
    font-family: var(--primary-font);
    font-weight: 500;
}
.about-btm{
    flex: 1.5;
    display: flex;
    flex-direction: row;
    margin: 1vw;
}
.about-ctn{
    flex: 1;
    /background-color: red;
    margin: 1vw;
}

.about-hd{
    font-size: 30px;
    padding: 1vw;
    padding-left: 0vw;
}
.about-about{
    font-size: 15px;
    font-family: var(--primary-font);
    font-weight: 400;
    padding-bottom: 1vw;
}
.services{
    display: flex;
    flex-direction: column;
}
.services-top{
    flex: 1;
}
.services-top h3{
    font-weight: 500;
    font-style: none;
    color: var(--green);
    font-size: 40px;
    text-align: center;
    letter-spacing: 1px;
}
.services-top h5{
    text-align: center;
    font-size: 15px;
    font-family: var(--primary-font);
    margin-top: 1vw;
    font-weight: 500;
}
.services-btm{
    flex: 3;
    display: flex;
    flex-direction: row;
    margin-left: 1vw;
    margin-right: 1vw;
    margin-top: 2vw;
}
.services-btm-ctn{
    flex: 1;
    margin: 1vw;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
    height: 25vw;
}
.services-btm-ctn img{
    padding: 1vw;
    padding-bottom: 0vw;
    height: 6vw;
}
.service-head{
    margin-left: 1.5vw;
    font-size: 35px;
    color: var(--green);
}
.service-about{
    margin-top: 0.5vw;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
}
#services-2 {
    background-color: var(--green);
    color: var(--primary);
}

#services-2 .service-head{
    color: var(--primary);
}

#services-2 button{
    background-color: var(--primary);
    color: var(--green);
}

.services-btm-ctn button{
    color: var(--primary);
    font-family: var(--primary-font);
    font-weight: 500;
    background-color: #177171;
    border: none;
    padding: 10px 20px;
    margin: 1vw;
    margin-left: 1.5vw;
    cursor: pointer;
    border: 2px;
}

#contactus{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.contact-us{
    flex: 2;
}
.footer{
    flex: 1.5;
    background-color: var(--green);
}